<h2>All Categories</h2>

<div>
  
  <% @categories.each do |category| %>
    <ul>
      <li><a href="/categories/<%= category.name %>"><%= category.name %></a></li>
    </ul>
  <% end %>
  
</div>

  <div class="sidebar">
    <a href="/listings">All Listings</a>
    <br><br>
    <a href="/item/new">Add Listing</a>
    <br><br>
    <a href="">My Listings</a>
    <br><br>
    <a href="/logout">Log Out</a>
  </div>

  <br><br>
  <br><br>