<h2>Log In</h2>

  <% if flash.has?(:login_error) %>
    <%= flash[:login_error] %>
  <% end %>

<br><br>
  <form method="POST" action="/login">
    <label for="email">Email: <input type="text" name="email" id="Email" placeholder="Your email address">
    <br><br>
	  <label for="password">Password: <input type="text" name="password" id="Password" placeholder="******">
    <br><br><br>
	  <input type="submit" value="Log In">
  </form>
<br>

