<h2>Welcome, <%= current_user.name %></h2>

<h4>What would you like to do?</h4>

  <a href="/item/new"> Post an Item.</a>
  <br><br>
  <br><br>
  <a href="/items"> View All Items.</a>
  <br><br>
  <br><br>
  <a href="/logout"> Log Out </a>
  <br>